<html>
    <head>
        <title>title</title>
        <meta charset="UTF-8">
        <style>
            .center_div {
                border: 1px solid gray;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                background-color: #d0f0f6;
                text-align: left;
                padding: 8px;
            }
        </style>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="center_div">
            <h1>Hello Akakyi! Миша хуй соси!</h1>
<!--            <img width="100" height="400" src="Java_logo.png">-->
<!--            <img width="100" height="400" src="BOOT-INF/classes/conversion/pdf/templates/Java_logo.png">-->
<!--            <img width="100" height="400" src="/home/akakyi/Documents/Java_logo.png">-->
<!--            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4-->
<!--        //8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==">-->
<!--            <img th:src="${src}">-->
            <div class="myclass">
                <p>This is the tutorial to convert html to pdf with images?</p>
            </div>
        </div>
    </body>
</html>

